<section class="section-case-studies">
	<div class="section-title">Case Studies</div>

	<div class="container" style="max-width: 900px;">
		<div class="grid  case-study-grid">
			<div class="grid-item  one-third">
				<div class="tile">
					<a href="/case-study/caniuse.com" class="tile-image-wrap"><img src="./images/thumbnails/caniuse.com.jpeg" alt="CanIUse.com PerfAudit" /></a>
					<h3 class="tile-heading"><a href="/case-study/caniuse.com">CanIUse.com PerfAudit</a></h3>
					<p>Janky performance along with other Rendering Issues on <a href="http://caniuse.com" target="_new">CanIUse.com</a>.</p>
					<a href="/case-study/caniuse.com" class="btn  btn-red">Learn More</a>
				</div>
			</div>
			<div class="grid-item  one-third">
				<div class="tile">
					<a href="/case-study/hindustantimes.com" class="tile-image-wrap"><img src="./images/thumbnails/hindustantimes.com.jpeg" alt="HindustanTimes.com PerfAudit" /></a>
					<h3 class="tile-heading"><a href="/case-study/hindustantimes.com">Hindustimes.com PerfAudit</a></h3>
					<p>Janky performance along with other Rendering Issues on <a href="http://caniuse.com" target="_new">CanIUse.com</a>.</p>
					<a href="/case-study/hindustantimes.com" class="btn  btn-red">Learn More</a>
				</div>
			</div>
			<div class="grid-item  one-third">
				<div class="tile">
					<a href="#" class="tile-image-wrap"><img src="./images/pic04.jpg" alt="your website" /></a>
					<h3 class="tile-heading"><a href="/case-studies/caniuse.com">Your website</a></h3>
					<p>Submit your Audit request, and we'll help you make perfomant website.</p>
					<a href="mailto:info@perfaudit.com" class="btn  btn-red">Submit Audit Request</a>
				</div>
			</div>
		</div>
	</div>
</section>