<!-- Highlights -->
<div class="wrapper style3">
  <div class="title">Case Studies</div>
  <div id="highlights" class="container">
    <div class="row 150%">
      <div class="4u">
        <section class="highlight">
          <a href="#" class="image featured"><img src="images/thumbnails/caniuse.com.jpeg" alt="CanIUse.com PerfAudit" /></a>
          <h3><a href="/case-studies/caniuse.com">CanIUse.com PerfAudit</a></h3>
          <p>Janky performance along with other Rendering Issues on <a href="http://caniuse.com">CanIUse.com</a>.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div>
      <div class="4u">
        <section class="highlight">
          <a href="#" class="image featured"><img src="images/thumbnails/www.hindustantimes.com.jpeg" alt="" /></a>
          <h3><a href="#">HindustanTimes.com PerfAudit</a></h3>
          <p>Performance Audit for <a href="http://hindustantimes.com">HindustanTimes.com</a> will be published soon.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div>
      <div class="4u">
        <section class="highlight">
          <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
          <h3><a href="#">Your Website</a></h3>
          <p>Submit your Audit request, and we'll help you make perfomant website.</p>
          <ul class="actions">
            <li><a href="mailto:info@perfaudit.com" class="button style1">Submit Audit Request</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>