<!-- Header -->
<div id="header-wrapper" class="wrapper">
  <div id="header">

    <!-- Logo -->
      <div id="logo">
        <h1><a href="index.html">#perfaudit</a></h1>
        <p>Performance audit of Web Applications by Professionals</p>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="">Resources</a></li>
          <li><a href="left-sidebar.html">Left Sidebar</a></li>
          <li><a href="right-sidebar.html">Case Studies</a></li>
          <li><a href="no-sidebar.html">Blog</a></li>
        </ul>
      </nav>

  </div>
</div>