<!-- Intro -->
<div id="intro-wrapper" class="wrapper style1">
  <div class="title">The Introduction</div>
  <section id="intro" class="container">
    <p class="style1">So in case you were wondering what this is all about ...</p>
    <p class="style2">
      Loading websites under 1 second <br class="mobile-hide" /> and <br class="mobile-hide" />
      running them at 60fps(Jank-Free)
    </p>
    <p class="style3">We <strong>audit</strong> the <strong>page load</strong> and <strong>rendering</strong> performance of your website. Hating <strong>slow</strong> and <strong>janky</strong> websites, we are on a mission to help <strong>load websites in milliseconds</strong> and perform <strong>jank-free</strong>.</p>
    <ul class="actions">
      <li><a href="#" class="button style3 big">Proceed</a></li>
    </ul>
  </section>
</div>