<section class="section-press">
  <div class="section-title">Press Coverage</div>
  <div class="container" style="max-width: 900px;">
    <div class="grid  case-study-grid">
      <div class="grid-item one-fourth">
        <div class="tile">
          <a href="http://www.webdesignerdepot.com/2015/03/whats-new-for-designers-march-2015/#perfaudit" title="PerfAudit recommended by WebDesigner Depot" target="_blank">
            <img src="/images/press/webdesigner-depot.jpg" alt="WebDesigner Depot PerfAudit" class="press-image" />
            <h2>WebDesigner Depot</h2>
          </a>
        </div>
      </div>
      <div class="grid-item one-fourth">
        <div class="tile">
          <a href="https://news.ycombinator.com/item?id=9170571" target="_blank" title="PerfAudit trends on HackerNews">
            <img src="/images/press/hacker-news.jpg" alt="Hacker News PerfAudit" class="press-image" />
            <h2>Hacker News</h2>
          </a>
        </div>
      </div>
      <div class="grid-item one-fourth">
        <div class="tile">
          <a href="http://webopsweekly.com/issues/5" target="_blank" title="PerfAudit featured on Web Operations Weekly">
            <img src="/images/press/webops.jpg" alt="Web Operations Weekly PerfAudit" />
            <h2>WebOps Weekly</h2>
          </a>
        </div>
      </div>
      <div class="grid-item one-fourth">
        <div class="tile">
          <a href="http://perf.rocks/articles/topic/case-studies/" target="_blank" title="PerfAudit featured on Perf.Rocks">
            <div class="img-container">
              <img src="/images/press/perf-rocks-logo.svg" alt="Perf Rocks PerfAudit" />
            </div>
            <h2>Perf Rocks</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>