<section class="section-testimonials">
  <div class="section-title">Testimonials</div>
  <div class="container" style="max-width: 900px;">
    <div class="grid  case-study-grid">
      <div class="grid-item">
        <div class="tile">
          <a href="http://stevesouders.com/about.php" target="_blank" title="Steve Souders appreciates PerfAudit"><img src="/images/testimonials/steve-souders.jpg" alt="Steve Souders PerfAudit" /></a>
          <h3 class="tile-heading"><a href="http://stevesouders.com/about.php" title="Steve Souders appreciates PerfAudit" target="_blank">Steve Souders, Fastly Chief Performance Officer</a></h3>
          <blockquote cite="https://twitter.com/Souders/status/576067718518030336">
            .@PerfAudit is a GREAT idea! Read/view perf analysis of popular sites.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>