<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body class="{{ page.body-class }}">
    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='19075292'></div>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% if page['body-class'] == 'homepage' %}
      {% include learn.html %}
      {% include testimonials.html %}
      {% include case-studies.html %}
      {% include press.html %}
    {% endif %}
    {% include subscribe.html %}
    {% include footer.html %}
  </body>
</html>