---
layout: default
body-class: page
type: page
---

<style>
.post-title {
  font-size: 2em;
  letter-spacing: 0.075em;
  line-height: 1.5em;
}
.post-container {
  max-width: 800px;
}
article {
  color: #666;
}
article code,
article a {
  color: #e97770;
}
article img {
  max-width: 100%;
}
article h1, article h2, article h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
</style>
<section class="">
  <div class="container post-container">
    <article>
      <div class="section-title">{{ page.title }}</div>
      {{ content }}
    </article>
  </div>
</section>